.Rproj.user
.Rhistory
.RData
.Ruserdata
tl_2015_us_zcta510.cpg
tl_2015_us_zcta510.dbf
tl_2015_us_zcta510.prj
tl_2015_us_zcta510.shp.ea.iso.xml
tl_2015_us_zcta510.shp.iso.xml
tl_2015_us_zcta510.shp.xml
tl_2015_us_zcta510.shx
tempdir
tl_2015_us_zcta510.shp
